body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif
}

div.ui.grey.vertical.center.aligned.segment {
  background-image: url('block-making-payments.jpg');
  background-size:100%;
}

div.login-form {
  background: grey !important;
}

button.ui,
text,
a.ui,
h1.ui.header,
h2.ui.header,
h3.ui.header,
h4.ui.header,
div.ui {
  font-family: "Raleway", sans-serif !important;
}

button.buttonChange {
  background: #b19cd9 !important;
  outline: none !important;
  border: none !important;
}

font#buttonText {
  font-family: "Raleway", sans-serif !important;
  background: transparent !important;
  color: rgba(255, 255, 255, 0.7) !important;
}
.ui.menu.blue {
  background: #b19cd9 !important
}
